<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @garden.banner_url %>);">
  <div class="container">
    <h1><%= @garden.name %></h1>
  </div>
</div>

<div class="container mt-2">
  <%= link_to "Add a plant", new_garden_plant_path(@garden), class: "btn btn-primary" %>
  <div class="cards">
    <% @plants.each do |plant| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= plant.photo_url %>)">
        <%= plant.name %>
        <%= link_to "Delete", plant_path(plant), method: :delete, data: { confirm: "T'es tu sûr ?" }, class: "btn btn-danger" %>
      </div>
    <% end %>
  </div>
</div>
